.top {
	margin-bottom: 0px;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 999;
}
.top .navbar-brand {
	color: #fff;
	cursor: pointer;
	top: 0px;
}
.top .navbar-brand:hover {
	color: #fff;
	background-color: #666666;
}
.right-nav {
	padding-right: 20px;
}
.right-nav>li>a {
	color: #fff !important;
}
.right-nav>li:hover {
	background-color: #666666 !important;
}
.right-nav>.active {
	background-color: #666666 !important;
}
.right-nav>.open {
	background-color: #666666 !important;
}
.right-nav>.open>a {
	background-color: #666666 !important;
}
.right-nav>li {
	border-left: 1px solid #5E6264;
}
.leftpanel {
	width: 220px;
	height: 100%;
	position: fixed;
	top: 50px;
	left: 0;
	background: #464646;
	overflow: hidden;
}
.leftpanel-collapse {
	width: 60px;
}
.content {
	padding-left: 220px;
	padding-top: 50px;
}
.content-collapse {
	padding-left: 60px;
}


/*left menu 要抽取成插件*/

.left-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 220px;
}
.left-menu>li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	line-height: 20px;
}
.left-menu>li.open {
	background-color: #666666;
}
.left-menu>li>a {
	color: #8b91a0;
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 11.5px 31px 11.5px 31px;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
}
.left-menu li a:hover{
	background-color: #666666;	
}

.left-menu>li>ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	margin: 0px;
	background-color: #22262e;
	padding: 8px 0px 10px 0px;
}
.left-menu>li>ul.sub-menu>li {
	background: none;
	margin: 0px;
	padding: 0px;
	margin-top: 1px !important;
}
.left-menu>li>ul.sub-menu>li>a {
	margin-left: 0px;
	padding-left: 5px;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px;
	padding-left: 53px !important;
	color: #e1eaf1;
	text-decoration: none;
	text-shadow: 0 1px 1px #000;
	font-size: 13px;
	font-weight: 300;
	background: none;
	cursor: pointer;
}
.left-menu>li>ul.sub-menu>li>a:hover{
	background-color: #666666;
}

.left-menu .arrow{
	float:right;
}


.container-fixed{
	margin:15px;
}
.container-fixed .row{
	margin-left:0px;
	margin-right:0px;
}

.container-fixed .row .ec-menu,.ec-search{
	padding-left:0px;
	padding-right:0px;
}	

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-size: 14px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.key{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

em.hlt1{
  color:red;
  font-style: normal;
}
.txt-green{
  color:#008000;
}

.searchresults{
	overflow:auto;
	width:100%;
	height:180px;
}